.content {
    padding: 20px;
}

body {
    font-family: Arial;
    margin: 0;
}
  
/* Header/Logo Title */
.header {
    padding: 40px;
    text-align: center;
    font-family: sans-serif;
    /*background: #1abc9c;*/
    background: #FF6654;
    color: white;
    font-size: 30px;
}

/* Header footer */
.header-text-footer-1 {
    font-size: 20px;
    font-family: sans-serif;
}

.header-text-footer-2 {
    font-size: 16px;
    font-family: sans-serif;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    /*background-color: #333;*/
    background-color: #57231ed7;
}
  
/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
  
/* Right-aligned link */
.navbar a.right {
    float: right;
}
  
/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

* {
    box-sizing: border-box;
}

.column {
    /*.column1 .column2 .column3 .column4 {*/
        float: left;
        width: 50%;
        background-color: rgb(255, 255, 255);
        padding: 40 40 10 40;
        /*height: 300px;  Should be removed. Only for demonstration */
}
 
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    /*background: #ddd;*/
    background-color: black;
    color: white;
}

.tooltip
{
    position: absolute;
    text-align: left;
    /*display: inline-block;*/
    width: 150px;
    padding: 5px 5px;
    background-color: #99d39b;
    opacity: 0.9;
    color: black;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    font: 12px sans-serif;
    pointer-events: none;
}  

.graph_header {
    text-align: left;
    font-family: sans-serif;
    font-size: 22;
    color: #175f19;
}

.graph_axis_text {
    text-anchor: end;
    font-size: 14;
}

.graph_axis_title, .dv1_graph_axis_title {
    text-anchor: end;
    font-size: 18;
}

.dv_article {
    text-align: justify;
    font-size: 20;
    font-family: sans-serif;
}

.dv_article_main {
    text-align: center;
    font-size: 26;
    font-family: sans-serif;
    font-style: italic;
    padding-top: 50;
    padding-bottom: 50;
}

.article_header {
    text-align: center;
    font-family: sans-serif;
    font-size: 24;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .dv2-graph-line {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: dash 5s linear forwards;
  }

  @keyframes dash {
      to {
          stroke-dashoffset: 0;
      }
  }

  .annotation-rect {
    stroke: #0e7013;
    fill-opacity: 10%;
    fill: none;
  }

  .annotation-rect-outlier {
    stroke: #d817b8;
    fill-opacity: 10%;
    fill: none;
  }

  .annotation-text {
    fill: #0e7013;
    font-size: 14;
  }

  .annotation-text-outlier {
    fill: #d817b8;
    font-size: 14;
  }

  .annotation-text-title {
    fill: rgb(83, 28, 12);
    font-size: 18;
    font-weight: bold;
  }

  .annotation-path {
      stroke: #0e7013;
      fill: none;
  }

  .annotation-path-outlier {
    stroke: #d817b8;
    fill: none;
}

  .annotation-circle {
    stroke: #0e7013;
    fill-opacity: 10%;
    fill: none;
  }

  .annotation-circle-outlier {
    stroke: #d817b8;
    fill-opacity: 10%;
    fill: none;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;

  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    border: 1px solid #3e8e41;
    background-color: #3e8e41;
    color: #fff;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .div-table {
      padding: 10, 50, 10, 50

  }